suPHP_ConfigPath /home/edwardbc/public_html/esd


AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript


AddType 'text/html; charset=UTF-8' html





<IfModule mod_headers.c>
	<FilesMatch "\.(js|css|xml|gz)$">
		Header append Vary: Accept-Encoding
	</FilesMatch>
</IfModule>


RewriteEngine on

### Rewrite pretty URLs in Customers section
	RewriteRule ^customers/?$ pages/customers/customers.php
		RewriteRule ^customers/view-customers/?$ pages/customers/customers.php
		RewriteRule ^customers/add-customer/?$ pages/customers/add.php
		RewriteRule ^customers/delete-customer/?$ pages/customers/delete.php
		RewriteRule ^customers/edit-customer/?$ pages/holding.php
		
### Rewrite pretty URLs in Settings section
	RewriteRule ^settings/?$ pages/settings/settings.php
		RewriteRule ^settings/languages/?$ pages/settings/languages.php
		RewriteRule ^settings/expertise/?$ pages/settings/expertise.php
		RewriteRule ^settings/handheld-units/?$ pages/settings/igep.php
		
### Rewrite pretty URLs in Exhibits section
	RewriteRule ^exhibits/?$ pages/exhibits/exhibits.php
		RewriteRule ^exhibits/view-exhibits/?$ pages/exhibits/all_exhibits.php
		RewriteRule ^exhibits/add/?$ pages/exhibits/combined_add.php	
		RewriteRule ^exhibits/add-exhibit/?$ pages/exhibits/add_exhibit.php		
		RewriteRule ^exhibits/delete-exhibit/?$ pages/exhibits/delete_exhibit.php
		RewriteRule ^exhibits/edit-exhibit/?$ pages/holding.php	
		RewriteRule ^exhibits/view-tracks/?$ pages/exhibits/all_tracks.php
		RewriteRule ^exhibits/add-track/?$ pages/exhibits/add_track.php		
		RewriteRule ^exhibits/delete-track/?$ pages/exhibits/delete_track.php
		RewriteRule ^exhibits/edit-track/?$ pages/holding.php

### Rewrite pretty URLs in Bookings section
	RewriteRule ^bookings/?$ pages/bookings/bookings.php
		RewriteRule ^bookings/view-bookings/?$ pages/bookings/view.php
		RewriteRule ^bookings/add-booking/?$ pages/bookings/add.php
		RewriteRule ^bookings/return-unit/?$ pages/bookings/return.php

### Rewrite pretty URLs in Log section
	RewriteRule ^log/?$ pages/log/log.php
		RewriteRule ^log/detail/?$ pages/log/detail.php
		RewriteRule ^log/statistics/?$ pages/log/statistics.php
		RewriteRule ^log/current-location/?$ pages/log/location.php	
		RewriteRule ^log/average-path/?$ pages/holding.php

RewriteRule ^privacy-and-terms/?$ pages/privacy.php		
		